&[role='home'] {
	section {
		&.rotate {
			position: relative;
			overflow: hidden;

			padding: 0;

			figure {
				@include responsive(medium) {
					width: 100%;
					height: 100%;
				}

				position: relative;

				background-position: center;
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-color: color(dark);

				width: 100vw;

				// &:before {
				// 	@include responsive(medium) {
				// 		width: 100%;
				// 		height: 100%;
				// 	}

				// 	content: "";
				// 	position: absolute;
				// 	z-index: 10;

				// 	width: 100vw;
				// 	height: 100vh;
				// }

				img {
					margin: 0 auto;
				}

				// figcaption {
				// 	@include responsive(medium) {
				// 		top: inherit;
				// 		left: 8vh;
				// 		right: inherit;
				// 		bottom: 12%;

				// 		max-width: 370px;
				// 		height: auto;
				// 		margin: inherit;
				// 	}

				// 	position: absolute;
				// 	z-index: 11;
				// 	top: inherit;
				// 	left: 5vh;
				// 	right: inherit;
				// 	bottom: 10%;

				// 	max-width: 80vw;
				// 	height: auto;
				// 	margin: inherit;

				// 	color: color(light);

				// 	h2 {
				// 		@include responsive(medium) {
				// 			font-size: font-size(xxxbig);
				// 		}

				// 		@include responsive(small) {
				// 			font-size: font-size(xxbig);
				// 		}

				// 		font-size: font-size(big);
				// 		text-transform: uppercase;
				// 		text-shadow: 5px 1px 10px #000;
				// 	}

				// 	p {
				// 		@include responsive(medium) {
				// 			font-size: font-size(big);
				// 		}

				// 		margin-top: space(base);

				// 		font-size: font-size(medium);
				// 		text-shadow: 5px 1px 10px #000;
				// 	}
				// }
			}

			button {
				outline: none;

				&.slick-arrow {
					position: absolute;
					z-index: 10;
					top: 0;
					bottom: 0;
					background: inherit;
					font-family: FontAwesome;
					text-rendering: auto;
					font-size: 0;
					border: 0;
					cursor: pointer;

					@include responsive (large, max) {
						top: -5vh;
					}

					&.slick-prev {
						@include responsive(medium) {
							margin: auto auto auto (space(gg) * 4);
							transform: scale(1);
						}
						position: absolute;
						left: 0;
						margin: auto auto auto (- space(p));
						transform: scale(.5);
						&:before {
							content: "<";
							text-indent: inherit;
							font-size: font-size(xxxbig);
							color: color(dark, darker);
						}
						&:after {
							content: "";
							position: absolute;
							top: 8px;
							left: 0;
							right: 0;
							bottom: 0;

							display: block;
							width: 60px;
							height: 60px;
							margin: auto auto auto (- space(base));

							border: 1px solid color(dark, darker);
							border-radius: 35px;
						}
					}
					&.slick-next {
						@include responsive(medium) {
							margin: auto (space(gg) * 4) auto auto;
							transform: scale(1);
						}
						position: absolute;
						right: 0;
						margin: auto (- space(p)) auto auto;
						transform: scale(.5);
						&:before {
							content: ">";
							text-indent: inherit;
							font-size: font-size(xxxbig);
							color: color(dark, darker);
						}
						&:after {
							content: "";
							position: absolute;
							top: 8px;
							left: 0;
							right: 0;
							bottom: 0;

							display: block;
							width: 60px;
							height: 60px;
							margin: auto (- space(base)) auto auto;

							border: 1px solid color(dark, darker);
							border-radius: 35px;
						}
					}
				}
			}

			.slick-dots {
				@include responsive(medium) {
					transform: scale(1);
					margin: auto auto (space(base) - 2);
                }
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				margin: auto auto 0;
				width: auto;
				height: 30px;

				text-align: center;

				transform: scale(.5);

				li {
					display: inline-block;
					width: 20px;
					height: 20px;
					margin: 0 3px;
					text-indent: -9999px;

					background-color: color(dark, darker);
					border-radius: 50%;
				}

				.slick-active {
					background-color: color(primary);
				}
			}
		}

		&.vision {
			&__content {
				padding: space(gg) 0;

				color: color(dark, darker);

				background-color: color(light, darken);

				.list-itens {
					a {
						&:hover {
							text-decoration: none;
						}
					}
					p {
						width: 150px;
						min-height: 30px;
						margin: space(p) auto;
					}

					div > div {
						&:hover {
							color: color(primary);

							.icn-01 {
								@include sprite($icn-01--hover);
							}

							.icn-02 {
								@include sprite($icn-02--hover);
							}

							.icn-03 {
								@include sprite($icn-03--hover);
							}

							.icn-04 {
								@include sprite($icn-04--hover);
							}

							.icn-05 {
								@include sprite($icn-05--hover);
							}
						}
					}

					.icn-01 {
						@include sprite($icn-01);

						display: block;
						margin: 0 auto;
					}

					.icn-02 {
						@include sprite($icn-02);

						display: block;
						margin: 0 auto;
					}

					.icn-03 {
						@include sprite($icn-03);

						display: block;
						margin: 0 auto;
					}

					.icn-04 {
						@include sprite($icn-04);

						display: block;
						margin: 0 auto;
					}

					.icn-05 {
						@include sprite($icn-05);

						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		&.product {
			&__content {
				overflow: hidden;

				padding: space(gg) 0;

				color: color(light);
				background-color: color(dark);

				IMG {
					@include responsive(large) {
						margin: -180px -80px -215px;
					}
					margin: -180px -170px -215px;
					max-width: 200%;
				}
			}
		}

		&.video {
			&__content {
				@include responsive(large) {
					margin: (space(gg) * 2) 0;
				}

				margin: space(m) 0;

				img {
					@include responsive(large) {
						margin: 0;
					}

					margin: space(m) 0;
				}

				h4 {
					font-size: font-size(big);

					color: color(primary);
					line-height: 1;
				}

				p {
					font-size: font-size(medium) - 0.046;
					color: color(dark, darken)
				}
			}
		}

		&.email {
			&__content {
				margin: space(gg) 0 0;
				padding: space(gg) 0;

				background-color: color(light, darken);

				input {
					height: calc(2.875rem + 2px);

					background-color: color(light);
				}
			}
		}
	}
}
