&[role='page'] {
    &.product {
        &.list {
            nav {
                ul {
                    @include responsive(medium) {
                        display: flex;
                        align-content: center;
                    }

                    display: none;


                    li {
                        @include responsive(medium) {
                            display: flex;
                            align-items: center;

                            padding: space(g) space(base);

                            border-left: 1px solid color(dark);
                        }

                        padding: space(g) space(base);

                        text-align: center;
                        text-transform: uppercase;

                        border-left: 1px solid color(dark);

                        &:first-child {
                            @include responsive(medium) {
                                border-left: none;
                            }
                        }
                    }
                }

                select {
                    @include responsive(medium) {
                        display: none;
                    }
                }
            }
        }

        .productFeature {
            th {
                @include responsive(medium) {
                    width: 500px;

                    white-space: nowrap !important;
                }

                width: inherit;
                white-space: inherit !important;

            }
        }

        .productAbout {
            h5 {
                margin: 0 0 space(p);

                color: color(primary);
            }

            p {
                font-size: font-size(normal);
            }
        }
    }
}