/* Variables */
@charset 'UTF-8';

/// @group    Configurações

$colors: (
  primary: (
    dark      : #1d2442,
    base      : #0068b7,
    light     : #79c8ef,
  ),
  light: (
    darken    : #e2e3e3,
    base      : #ffffff,
  ),
  dark: (
    base      : #000000,
    darkest   : #010300,
    darker    : #55565a,
    darken    : #959595,
  ),
  danger      : #f85757,
  success     : #a4cb1b,
  warning     : #febc11,

) !default;

/// @group    Fontes

$font-config: (
  thin: (
    name: Raleway,
    weight: 100
  ),
  light: (
    name: Raleway,
    weight: 300
  ),
  base: (
    name: Montserrat,
    weight: 400
  ),
  medium: (
    name: Montserrat,
    weight: 500
  ),
  bold: (
    name: Montserrat,
    weight: 700
  ),
  black: (
    name: Montserrat,
    weight: 900
  )
) !default;

$font-fallback: Tahoma, Verdana, Segoe, sans-serif !default;

/// @group    Fontes
$font-sizes: (
  xxxbig		:	  47px,
  xxbig		  :	  35px,
  xbig		  :	  33px,
  big			  :	  30px,
  large		  :	  28px,
  medium-3	:	  26px,
  medium-2	:	  20px,
  medium		:	  18px,
  normal		:	  14px,
  small		  :	  13px
) !default;

/// @group    Breakpoints
$breakpoints: (
  small   : 641px,
  medium  : 769px,
  large   : 1025px,
  xlarge  : 1321px,
  xxlarge : 1921px
) !default;

/// @group Spaces
$spaces: (
  s       :     4px,
  p       :     8px,
  base    :     16px,
  m       :     24px,
  g       :     32px,
  gg      :     48px,
  xg      :     56px
) !default;
