.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.margin-left {
    margin-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

.nopad-left {
    padding-left: 0;
}

.nopad-right {
    padding-right: 0;
}

@media (max-width: 640px) {
    .center-block-mobile {
        float: none !important;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .text-center-mobile {
        text-align: center;
    }
}

.center-block {
    float: none !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    @media (max-width: 767px) {
        display: inherit;
        float: inherit;
    }
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.letter-spacing {
    letter-spacing: 2px;
}

label {
    white-space: nowrap;
}

.bg--primary-darker {
    background-color: color(primary, darker);
}

.bg--primary-dark {
    background-color: color(primary, dark);
}

.bg--primary-base {
    background-color: color(primary);
}

.bg--primary-lightest {
    background-color: color(primary, lightest);
}

.bg--primary-lighter {
    background-color: color(primary, lighter);
}

.bg--primary-light {
    background-color: color(primary, light);
}

.bg--light-base {
    background-color: color(light);
}

.bg--light-lighten {
    background-color: color(light, lighten);
}

.bg--light-lighter {
    background-color: color(light, lighter);
}

.bg--light-very-light {
    background-color: color(light, very-light);
}

.bg--light-lightest {
    background-color: color(light, lightest);
}

.bg--dark-base {
    background-color: color(dark);
}

.bg--dark-darkest {
    background-color: color(dark, darkest);
}

.bg--dark-darker {
    background-color: color(dark, darker);
}

.bg--dark-darken {
    background-color: color(dark, darken);
}



.text--primary-darker {
    color: color(primary, darker);
}

.text--primary-dark {
    color: color(primary, dark);
}

.text--primary-base {
    color: color(primary);
}

.text--primary-lightest {
    color: color(primary, lightest);
}

.text--primary-lighter {
    color: color(primary, lighter);
}

.text--primary-light {
    color: color(primary, light);
}

.text--light-base {
    color: color(light);
}

.text--light-lighten {
    color: color(light, lighten);
}

.text--light-lighter {
    color: color(light, lighter);
}

.text--light-very-light {
    color: color(light, very-light);
}

.text--light-lightest {
    color: color(light, lightest);
}

.text--dark-base {
    color: color(dark);
}

.text--dark-darkest {
    color: color(dark, darkest);
}

.text--dark-darker {
    color: color(dark, darker);
}

.text--dark-darken {
    color: color(dark, darken);
}



.text-size-xxxbig {
    font-size: font-size(xxxbig) !important;
    line-height: 1.1;
}
.text-size-xxbig {
    font-size: font-size(xxbig) !important;
    line-height: 1.1;
}
.text-size-xbig {
    font-size: font-size(xbig) !important;
    line-height: 1.1;
}
.text-size-big {
    font-size: font-size(big) !important;
    line-height: 1.1;
}
.text-size-large {
    font-size: font-size(large) !important;
    line-height: 1.1;
}
.text-size-medium-3 {
    font-size: font-size(medium-3) !important;
    line-height: 1.1;
}
.text-size-medium-2 {
    font-size: font-size(medium-2) !important;
    line-height: 1.1;
}
.text-size-medium {
    font-size: font-size(medium) !important;
    line-height: 1.1;
}
.text-size-normal {
    font-size: font-size(normal) !important;
    line-height: 1.1;
}
.text-size-small {
    font-size: font-size(small) !important;
    line-height: 1.1;
}