select {
    @include font(base);

    display: block;
    width: 100%;
    height: 77px;
    padding: 0 space(m);

    font-size: font-size(medium-2);

    background: {
        color: color(light, darken);
		image: url(../images/arrow-down.png);
		position: right 50%;
		repeat: no-repeat;
    }

    border: none;
    border-radius: inherit;

    -webkit-appearance: none;
            appearance: none;

    &.round-black {
        background: {
            color: color(dark);
        }

        border: 1px solid color(light);
        border-radius: 30px;
    }
}