h1 {
    margin-bottom: space(base);

    font-size: font-size(xxxbig);
    line-height: 1.2;
}

h2 {
    margin-bottom: space(base);

    font-size: font-size(xxbig);
    line-height: 1.2;
}

h3 {
    margin-bottom: space(base);

    font-size: font-size(xbig);
    line-height: 1.2;
}

h4 {
    margin-bottom: space(base);

    font-size: font-size(large);
    line-height: 1.2;
}

h5 {
    margin-bottom: space(base);

    font-size: font-size(medium);
    line-height: 1.2;
}

h6 {
    margin-bottom: space(base);

    font-size: font-size(normal);
    line-height: 1.2;
}

p {
    margin-bottom: space(base);

    font-size: font-size(normal);
    line-height: 1.2;
}

ul {}

a {
   color: inherit;

   &:hover {
        color: inherit;
        text-decoration: underline;
   }
}

em {
    font-style: italic
}

strong {
    @include font(bold);
}
