form {
    fieldset {
        position: relative;

        margin: space(xg) 0;
        padding: (space(xg) * 1.5) space(g) space(g);

        border: 1px solid color(dark, base);

        legend {
            position: absolute;
            top: space(g);
            left: 0;

            padding: 0 space(g);
        }
    }
}